@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background: rgb(233, 233, 233);
}


.item {
  list-style-type: none;
}

.item-container {
  position: relative;
  padding: 10px 0px;
  border-bottom: 1px solid black;
  width: 35rem;
}
.item-button {
  cursor: pointer;
  outline: none;
  display: inline-block;
  text-align: left;
  border: none;
  position: relative;
}

.item-button:hover{
  color: rgb(104, 104, 104);
}

.item-button:hover + .item-container {
  border-color: white;
}

.item-content {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  padding-top: 0;
  transition: max-height 0.4s linear, opacity 0.3s linear, padding-top 0.5s linear;
  position: relative;
}

.item-content img {
  max-width: 100%;
}

.item-content p {
  margin: 10px 0;
}

.item-content-enter {
  max-height: 500px;
  opacity: 1;
  padding-top: 10px;
}